.Navbar ul  {
    display: flex;
    list-style: none;
    text-decoration: none;
    
}


li{
    margin-left:20px ;
    text-decoration: none;
   
}

a{
    text-decoration: none;
    color: black;
}