

.box22 {
    display: flex;
    text-decoration: none;
    font-size: 20px;
}

li {
    margin-left: 20px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #ffffff;
}

main {
    width: 100%;
    display: flex;
}

.contain {
    width: 100%;
   
    display: flex;
    align-items: center;
    justify-content: center;

   
}
.box1 {
    width: 400px;
    height: 280px;
    padding: 10px; 
    border-radius: 10px;
    border: solid;
    margin-left: 70px;
    border-color: rgb(19, 18, 70) ;
}
.box1 h2{
    color: white;
    font-size: 50px;
}

.box1 p{
    color: white;
    margin-top: 30px;
    font-size: 25px;

}

.box2 {
    width: 300px;
   
   
    display: flex;
    justify-content: center;
    margin: 48px;
    margin-left: 190px;
}

.box2 img {
    width: 390px;
    height: 390px;
}

main{
    height: 90vh;
}


@media (max-width: 1279px) {
  
    .box1 h2{
        font-size: 35px;
    }
   .box1 p{
        font-size: 21.5px;
    }
  }


@media (max-width: 920px) {
  
    .box2{
        margin-left: 40px;
    }

    .box2 img {
        width: 350px;
        height: 350px;
       
    }
    .box1 h2{
        font-size: 35px;
    }
   .box1 p{
        font-size: 20px;
    }
  }




@media (max-width: 768px) {
    main{
        height: 100%;
       }
       .contain{
        flex-direction: column;

    }
    
    .box1{
        margin-top: 50px;
        width: 400px;
        margin-left: 0px;
       
    }
    .box2{
        margin-left: 0px;
    }

    .box2 img {
        width: 360px;
        height: 360px;
       
    }
  }

  @media (max-width: 480px) {
    main{
        height: 100%;
       }
        .contain{
            flex-direction: column;

        }

        .box1{
            margin-top: 50px;
            width: 300px;
            margin-left: 0px;
           height: 320px;
        }

        .box1 h2{
            font-size: 40px;
        }
       .box1 p{
            font-size: 20px;
        }

        .box2{
            margin-left: 20px;
        }
        .box2 img {
            width: 260px;
            height: 260px;
           
        }
  }